@font-face {
  font-family: "Web3-Regular";
  src: url("./fonts/Web3-Regular.woff") format("woff"),
    url("./fonts/Web3-Regular.woff2") format("woff2");
}

.networkicon_container {
  display: flex;
  align-items: center;
}

.popup-accordion-title {
  @apply rounded-none border-0 py-2 pl-2 !important;
}

.popup-accordion-content {
  @apply py-0 text-lg bg-white text-black border-0 rounded-none !important;
  padding-right: 1.7rem !important;
  padding-left: 2.35rem !important;
}

.icon {
  font-family: "Web3-Regular";
  @apply text-center;
}

.cap {
  @apply capitalize;
}

.txt-xs {
  @apply text-xs;
}
.txt-sm {
  @apply text-sm;
}
.txt-base {
  @apply text-base;
}
.txt-xl {
  @apply text-xl;
}
.txt-2xl {
  @apply text-2xl;
}
.txt-3xl {
  @apply text-3xl;
}
.txt-4xl {
  @apply text-4xl;
}
.txt-5xl {
  @apply text-5xl;
}
.txt-6xl {
  @apply text-6xl;
}
.txt-7xl {
  @apply text-7xl;
}
.txt-8xl {
  @apply text-8xl;
}
.txt-9xl {
  @apply text-9xl;
}

.accordion {
  @apply items-center font-normal justify-between text-left;
}

.item_title {
  @apply items-center w-full flex text-sm justify-between p-3 text-left border border-neutral-200 cursor-pointer;
}

.item_content {
  border: 1px solid #ececec;
  font-weight: 400;
  @apply p-4 text-[#171717];
}

.item {
  @apply w-full bg-white;
}

._mi__single button {
  @apply rounded w-full;
}

._mi__first button {
  @apply rounded-t-md w-full;
}

._mi__last button {
  @apply rounded-b-md w-full;
}

.content_expanded {
  border: 1px solid #ececec;
  border-top: 0 !important;
  @apply rounded-b-md;
}

.content_opened {
  border: 1px solid #ececec;
  border-bottom: 0 !important;
  @apply rounded-b-none !important;
}

.tooltip {
  @apply relative inline cursor-pointer;
}

.tooltip .tooltiptext {
  @apply invisible text-black bg-stone-200 border border-neutral-200 text-left p-2 right-5 absolute z-50 w-max leading-6;
  top: -60%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:hover .tooltiptext div:hover {
  @apply bg-gray-100;
}

.tooltip .tooltipDark {
  @apply invisible text-white bg-black rounded-lg border border-neutral-200 text-left py-1 px-2 right-5 absolute z-50 w-max leading-6;
  top: -60%;
}

.tooltip:hover .tooltipDark {
  visibility: visible;
}

.tooltip:hover .tooltipDark div:hover {
  @apply bg-gray-100;
}

.tooltip_top {
  bottom: 150%;
  margin-left: -5px;
}

.tooltip_left {
  top: -10px;
  right: 105%;
}

.tooltip_right {
  top: -10px;
  left: 105%;
}

.tooltip_bottom {
  top: 150%;
  margin-left: -5px;
}

.options-container {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}
