node_modules
.DS_Store
yarn-error.log
dist
.turbo
# testing
coverage
_site
*.tsbuildinfo
polkadot
zombienet-*
polkadot-parachain*
init.sh
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.vscode
packages/connect/src/connector/specs/js
substrate-connect_*-source-code.zip
