[settings]
timeout = 1000

[relaychain]
default_image = "docker.io/paritypr/synth-wave:4131-0.9.12-ccd09bbf-29a1ac18"
chain = "rococo-local"
command = "polkadot"

  [[relaychain.nodes]]
  name = "alice"
  validator = true
  extra_args = [ "--alice", "-lparachain=debug" ]

  [[relaychain.nodes]]
  name = "bob"
  validator = true
  extra_args = [ "--bob", "-lparachain=debug" ]
  add_to_bootnodes = true


[[parachains]]
id = 100
cumulus_based = true

  [[parachains.collator_groups]]
    count = 2
    name = "collator"
    command = "polkadot-parachain"
    args = ["-lparachain=debug"]

[types.Header]
number = "u64"
parent_hash = "Hash"
post_state = "Hash"
