name: Substrate Connect CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]

    steps:
    - uses: actions/checkout@v4.1.1
    - name: Cache turbo build setup
      uses: actions/cache@v3
      with:
        path: .turbo
        key: ${{ runner.os }}-turbo-${{ matrix.node-version }}-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-turbo-${{ matrix.node-version }}-
    - uses: pnpm/action-setup@v2
      with:
        version: 8
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: pnpm
    - run: pnpm install
    - run: pnpm checkResolutions
    - run: pnpm turbo build lint test --cache-dir=.turbo

  playwright:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4.1.1
    - name: Cache turbo build setup
      uses: actions/cache@v3
      with:
        path: .turbo
        key: ${{ runner.os }}-turbo-18.x-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-turbo-18.x-
    - uses: pnpm/action-setup@v2
      with:
        version: 8
    - uses: actions/setup-node@v3
      with:
        node-version: 18.x
        cache: pnpm
    - run: pnpm install 
    - run: pnpm turbo build --cache-dir=.turbo
    - name: Build extension with Manifest v3 for Chrome
      run: pnpm build:chrome
      working-directory: ./projects/extension
    - run: pnpm playwright:install
      working-directory: ./projects/extension
    - name: Test projects/extension
      run: pnpm playwright:chromium
      working-directory: ./projects/extension
    - run: pnpm playwright:install
      working-directory: ./examples/light-client-extension-helpers-extension
    - name: Test examples/light-client-extension-helpers-extension
      run: pnpm playwright:chromium
      working-directory: ./examples/light-client-extension-helpers-extension

  all:
    # This dummy job depends on all the mandatory checks. It succeeds if and only if all CI checks
    # are successful.
    needs: [build, playwright]
    runs-on: ubuntu-latest
    steps:
     - run: echo Success
