name: Substrate Connect CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]

    steps:
    - uses: actions/checkout@v4.1.1
    - uses: ./.github/actions/turbo-build 
      with:
        node-version: ${{ matrix.node-version }}
    - run: pnpm checkResolutions

  playwright-tests:
    needs: [build]
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4.1.1
    - uses: ./.github/actions/turbo-build
    - name: Build extension with Manifest v3 for Chrome
      run: pnpm build:chrome
      working-directory: ./projects/extension
    - run: pnpm playwright:install
      working-directory: ./projects/extension
    - name: Test projects/extension
      run: pnpm playwright:chromium
      working-directory: ./projects/extension
    - run: pnpm playwright:install
      working-directory: ./examples/light-client-extension-helpers-extension
    - name: Test examples/light-client-extension-helpers-extension
      run: pnpm playwright:chromium
      working-directory: ./examples/light-client-extension-helpers-extension

  zombienet-tests:
    needs: [build]
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: ./.github/actions/turbo-build
      - name: Get zombienet
        run: |
          curl -L -O https://github.com/paritytech/zombienet/releases/download/v1.3.68/zombienet-linux-x64
          chmod +x zombienet-linux-x64
      - name: Get polkadot
        run: |
          curl -L -O https://github.com/paritytech/polkadot-sdk/releases/download/polkadot-v1.1.0/polkadot
          chmod +x polkadot
      - name: Get polkadot execute worker
        run: |
          curl -L -O https://github.com/paritytech/polkadot-sdk/releases/download/polkadot-v1.1.0/polkadot-execute-worker
          chmod +x polkadot-execute-worker
      - name: Get polkadot prepare worker
        run: |
          curl -L -O https://github.com/paritytech/polkadot-sdk/releases/download/polkadot-v1.1.0/polkadot-prepare-worker
          chmod +x polkadot-prepare-worker
      - name: Get polkadot-parachain
        run: |
          curl -L -O https://github.com/paritytech/polkadot-sdk/releases/download/polkadot-v1.1.0/polkadot-parachain
          chmod +x polkadot-parachain
      - name: Run test
        run: |
          export PATH=$(pwd):$PATH
          cd zombienet-tests/src
          zombienet-linux-x64 -p native test 0001-relay-smoke-test.zndsl
          zombienet-linux-x64 -p native test 0002-parachain.zndsl
          zombienet-linux-x64 -p native test 0003-test-against-chainspecs.zndsl

  npm-publish:
    if: github.ref == 'refs/heads/main'
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: ./.github/actions/turbo-build
      - name: "@substrate/connect Pack"
        working-directory: ./packages/connect
        run: pnpm pack && mv *.tgz package.tgz
      - name: "@substrate/connect Publish"
        id: publish_connect
        uses: JS-DevTools/npm-publish@v3
        with:
          token: ${{ secrets.NPM_TOKEN }}
          package: ./packages/connect/package.tgz
          access: public
      - name: "@substrate/connect-extension-protocol Pack"
        working-directory: ./packages/connect-extension-protocol
        run: pnpm pack && mv *.tgz package.tgz
      - name: "@substrate/connect-extension-protocol Publish"
        id: publish_connect_extension_protocol
        uses: JS-DevTools/npm-publish@v3
        with:
          token: ${{ secrets.NPM_TOKEN }}
          package: ./packages/connect-extension-protocol/package.tgz
          access: public
      - name: "@substrate/connect-known-chains Pack"
        working-directory: ./packages/connect-known-chains
        run: pnpm pack && mv *.tgz package.tgz
      - name: "@substrate/connect-known-chains Publish"
        uses: JS-DevTools/npm-publish@v3
        with:
          token: ${{ secrets.NPM_TOKEN }}
          package: ./packages/connect-known-chains/package.tgz
          access: public
      - name: "@substrate/light-client-extension-helpers Pack"
        working-directory: ./packages/light-client-extension-helpers
        run: pnpm pack && mv *.tgz package.tgz
      - name: "@substrate/light-client-extension-helpers Publish"
        uses: JS-DevTools/npm-publish@v3
        with:
          token: ${{ secrets.NPM_TOKEN }}
          package: ./packages/light-client-extension-helpers/package.tgz
          access: public
      - name: Fetch gh-pages
        if: steps.publish_connect.outputs.type || steps.publish_connect_extension_protocol.outputs.type
        run: |
          git remote set-branches origin gh-pages
          git fetch --depth 1 origin gh-pages
      - name: Deploy
        if: steps.publish_connect.outputs.type || steps.publish_connect_extension_protocol.outputs.type
        run: pnpm deploy

  upload-extension-artifacts:
    if: github.ref == 'refs/heads/main'
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: actions/upload-artifact@v4
        with:
          name: substrate-connect-extension-source-code
          path: ./projects/extension
      - uses: ./.github/actions/turbo-build
      - run: pnpm --filter @substrate/extension build:firefox
      - uses: actions/upload-artifact@v4
        with:
          name: substrate-connect-extension-mv3-firefox
          path: ./projects/extension/dist
      - run: pnpm --filter @substrate/extension build:chrome
      - uses: actions/upload-artifact@v4
        with:
          name: substrate-connect-extension-mv3-chrome
          path: ./projects/extension/dist


  all:
    # This dummy job depends on all the mandatory checks. It succeeds if and only if all CI checks
    # are successful.
    needs: [build, playwright-tests]
    runs-on: ubuntu-latest
    steps:
     - run: echo Success
