name: Substrate Connect CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check-extension-versions:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - id: package-version
      run: echo "::set-output name=version::`jq .version ./projects/extension/package.json`"
    - id: webpack-version
      run: echo "::set-output name=version::`grep -rnw './projects/extension/webpack.config.js' -e 'PKG_VERSION' | grep -o '".*"'`"
    - id: manifest-version
      run: echo "::set-output name=version::`jq .version ./projects/extension/public/manifest.json`"
    - run: exit 1
      if: ${{ steps.package-version.outputs.version != steps.webpack-version.outputs.version }}
    - run: exit 1
      if: ${{ steps.package-version.outputs.version != steps.manifest-version.outputs.version }}
    - run: exit 1
      if: ${{ steps.package-version.outputs.version != steps.manifest-version.outputs.version }}
    - run: exit 1
      if: ${{steps.package-version.outputs.version == '' || steps.webpack-version.outputs.version == ''  || steps.manifest-version.outputs.version == '' }}
    
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x, 17.x, 18.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - run: yarn install --immutable
    - run: yarn checkResolutions
    - run: yarn build
    - run: yarn lint
    - run: yarn test

  all:
    # This dummy job depends on all the mandatory checks. It succeeds if and only if all CI checks
    # are successful.
    needs: [check-extension-versions, build]
    runs-on: ubuntu-latest
    steps:
     - run: echo Success
