name: Substrate Connect CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # TODO: re-enable Node 20.x after https://github.com/nodejs/node/pull/49500
        node-version: [16.x, 18.x, "20.5"]

    steps:
    - uses: actions/checkout@v4.0.0
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: yarn
    - run: yarn install --immutable
    - run: yarn checkResolutions
    - run: yarn build
    - run: yarn lint
    - run: yarn test

  all:
    # This dummy job depends on all the mandatory checks. It succeeds if and only if all CI checks
    # are successful.
    needs: [build]
    runs-on: ubuntu-latest
    steps:
     - run: echo Success
