name: Publish

on:
  push:
    branches: [ main ]

jobs:
  npm-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: yarn install --immutable
      - run: yarn build
      - name: Compare versions of npm with local
        uses: Rober19/compare-npm-versions-ci@a38b02a14bbee73badddf83e13ebcb3e674c6df5 # latest from original maintainer
        id: package_version
        with:
          path: './packages/connect'
          npm_package_name: '@substrate/connect'
      - name: Local/NPM versions
        if: steps.package_version.outputs.npm_is_greater == 'true'
        run: |
          echo "Local version is ${{ steps.package_version.outputs.version }}."
          echo "NPM version is ${{ steps.package_version.outputs.pkg_npm_version }}."
      - name: Publish Dry Run
        working-directory: './packages/connect'
        run: npm publish --unsafe-perm --dry-run
      - name: Publish
        uses: JS-DevTools/npm-publish@v1
        # merge only if version is greater than the one in npm and only after merge
        if: steps.package_version.outputs.npm_is_greater == 'false'
        # Warning: this GitHub action doesn't seem to run prepublish scripts, hence
        # the `npm publish --dry-run` done right above is important to ensure this.
        with:
          token: ${{ secrets.NPM_TOKEN }}
          package: ./packages/connect/package.json
          access: public
      - name: Deploy
        # merge only if version is greater than the one in npm and only after merge
        if: steps.package_version.outputs.npm_is_greater == 'false'
        run: yarn run deploy

  all:
    # This dummy job depends on all the mandatory checks. It succeeds if and only if all CI checks
    # are successful.
    needs: [npm-publish]
    runs-on: ubuntu-latest
    steps:
     - run: echo Success
