name: Publish

on:
  push:
    branches: [ main ]

jobs:
  npm-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: pnpm
      - run: pnpm install
      - run: pnpm build
      - name: "@substrate/connect Pack"
        working-directory: './packages/connect'
        run: pnpm pack
      - name: "@substrate/connect Publish"
        id: publish_connect
        uses: JS-DevTools/npm-publish@v2
        with:
          token: ${{ secrets.NPM_TOKEN }}
          package: ./packages/connect/package.tgz
          access: public
      - name: "@substrate/connect-extension-protocol Pack"
        working-directory: './packages/connect-extension-protocol'
        run: pnpm pack
      - name: "@substrate/connect-extension-protocol Publish"
        id: publish_connect_extension_protocol
        uses: JS-DevTools/npm-publish@v2
        with:
          token: ${{ secrets.NPM_TOKEN }}
          package: ./packages/connect-extension-protocol/package.tgz
          access: public
      - name: "@substrate/connect-known-chains Pack"
        working-directory: './packages/connect-known-chains'
        run: pnpm pack
      - name: "@substrate/connect-known-chains Publish"
        uses: JS-DevTools/npm-publish@v2
        with:
          token: ${{ secrets.NPM_TOKEN }}
          package: ./packages/connect-known-chains/package.tgz
          access: public
      - name: Fetch gh-pages
        if: steps.publish_connect.outputs.type || steps.publish_connect_extension_protocol.outputs.type
        run: |
          git remote set-branches origin gh-pages
          git fetch --depth 1 origin gh-pages
      - name: Deploy
        if: steps.publish_connect.outputs.type || steps.publish_connect_extension_protocol.outputs.type
        run: pnpm deploy

  all:
    # This dummy job depends on all the mandatory checks. It succeeds if and only if all CI checks
    # are successful.
    needs: [npm-publish]
    runs-on: ubuntu-latest
    steps:
     - run: echo Success
