# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Substrate Connect CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: yarn install
    - run: yarn lint
    - run: yarn build
    - run: yarn test
    # - run: yarn deploy
      # only:
      #   - master
    # - uses: actions/checkout@v2
    #   with: 
    #     ref: 'gh-pages'
    # - uses: anantaramdas/ipfs-pinata-deploy-action@v1.6.3
    #   id: ipfs-upload
    #   with:
    #     pin-name: 'substrate-connect'
    #     path: '.'
    #     pinata-api-key: ${{ secrets.PINATA_KEY }}
    #     pinata-secret-api-key: ${{ secrets.PINATA_SECRET }}
    #     remove-old: true
    #   # only:
    #   #   - master
    # - run: |
    #     echo "Uploaded hash: ${{ steps.ipfs-upload.outputs.hash }}"
